.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px auto;
}

.name {
    font-size: 24px;
    margin: 10px 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #76A5DC;
}

.button {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 5% 0;
    background-color: #76A5DC;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 36px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button:hover{
    background-color: #486F9D;
}
.branco {
    width: 18%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.lista{
    display: grid;
    grid-template-columns: 10% 75% 15%;
    grid-template-rows: 10vh auto;
    align-items: center;
    justify-items: start;
    background-color: white;
    width: 95%;
    margin: 1vh auto 0 auto;
    height: 10vh;
    border-radius: 50px;
    border: rgba(164, 203, 249, 0.50) 5px solid;
    
    transition: all 0.2s linear;
}
.dados{
    display: flex;
    justify-content: left;
    text-align: left;
    flex-direction: column;
    margin-left: 15%;
}
#containter-lista-responsaveis{
    overflow-y: scroll;
    display: flex;
    background-color: rgba(164, 203, 249, 0.50);
    border-radius: 20px;
    justify-content: flex-start;
    margin: auto;
    width: 100%;
    flex-direction: column;
    height: 70%;
}
.content{
    width: 80%;
    background-color: #76A5DC;
    color: black;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.title{
    margin-top: 5vh;
    font-size: 150%;
}
.container-info{
    z-index: 998;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,25%);
    width: 100%;
    margin-right: 5px;
    grid-column: 1 / -1;
    background-color: white;
    border-top: 0px !important;
    border: rgba(164, 203, 249, 0.50) 5px solid;
}
.info-content{
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.seta{
    margin: auto;
    width: 3vh;
    height: 3vh;
    transform: rotate(180deg);

    transition: all 0.2s linear;
}
.info-access{
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}
.info-access{
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}
.excluir{
    cursor: pointer; 
    color: #990000; 
    font-weight: bold; 
    font-size: 20px; 
    text-decoration: underline; 
}
.atualizar-container{
    margin: auto;
    display: none;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
    background-color: white;
    height: 85%;
    width: 30%;
    border-radius: 24px;
    border: 1px solid #C1BDBD;
    position: fixed;
    z-index: 999;
    left: 45%;
    top: 15%;
   overflow-y: auto;
}


