/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15 de out. de 2023, 14:56:04
    Author     : felli
*/

body{
    background-color: #76A5DC;
    height: 10vh;
    width: 190vh;
}
div > h1{
    position: relative;
    display: block;
    left: 10%;
}
div{
    position: relative;
}
#medicamentoEstoque{
    right: 20px;
    width: 180px;
    height: 70px;
    background: #2882EB;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
#medicamentoEstoque > p{
    margin: 20px;
    display: flex;
    font-size: 10px;
}
label{
    position: relative;
}

#medicamentoEstoque > .nome{
    display: flex;
    margin-bottom: 15px;
    margin-top: 2px;
    top: 5px;
    height: 15px;
    width: 100px;
    margin-left: 10px;
    position: relative;
}
#medicamentoEstoque > .quant{
    display: inline-flex;
    height: 30px;
    width: 50px;
    margin-left: 10px;
    position: relative;
    right: 70%;
    top: 20%;
}
#medicamentoEstoque > .fornecedor{
    display: inline-block;
    height: 30px;
    width: 50px;
    position: relative;
    bottom: 15px;
    right: 90%;
    top: 20%;
}
#medicamentoEstoque > .dataCompra{
    display: inline;
    position: relative;
    top: 20%;
    font-size: small;
    right: 110%;
    height: 40px;

}

#titulo{
    color: white;
    font-size: 32px;
    font-family: Inter;
    font-weight: 800;
    word-wrap: break-word
}

#solicitados, #estoque{
    width: 40%;
    height: 550px;
    border-radius: 15px;
    background: rgba(164, 203, 249, 0.50);
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    left: 200px;

}

h1{
    color: white;
    font-size: 32px;
    font-family: Inter;
    font-weight: 600;
}

#solicitados > div {
    width: 80%;
    height: 80%;
    background: #76A5DC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: 0 auto;

}
#estoque > div{
    width: 80%;
    height: 80%;
    background: #76A5DC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: 0 auto;
}
#medicamento{
    right: 20px;
    width: 150px;
    height: 70px;
    background: #2882EB;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#medicamento *{
    font-size: 10px;
}
div > p{
    border-radius: 20px;
    background: #DEEDFF;
    padding-top: 3px;
}
#medicamento > .nome{
    display: flex;
    margin-bottom: 15px;
    margin-top: 2px;
    top: 5px;
    height:15px;
    width: 100px;
    margin-left: 10px;
    position: relative;
}
#medicamento > .quant{
    display: inline-flex;
    height: 30px;
    width: 50px;
    margin-left: 10px;
    position: relative;
    bottom: 15px;
}
#medicamento > .fornecedor{
    display: inline-block;
    height: 30px;
    width: 50px;
    position: relative;
    bottom: 15px;
}
#medicamento > .bot{
    background-color: #FF0000;
    border-radius: 100%;
    left: 7px;
    position: relative;
    height: 20px;
    width: 20px;
    top: -13%;
    padding-left: 4px;
}
article{
    display: inline-flex;
    padding-top: 5%;
    padding-left: 15%;

}
#solicitar{
    border-radius: 20px;
    background: #DEEDFF;
    border: none;
    align-items: center;
    height: 5%;
    display: flex;
    margin-left: 35%;
    top: 10px;
    justify-content: center;
    width: 20%;
    color: black;
    text-decoration: initial;
}

#main{
    left: 5%;
    bottom: 95vh;
}



/*css julia*/

.branco {
    width: 20%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 0px;
    height: 95vh;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px auto;
    background-image: url('caminho_para_sua_imagem.jpg');
    background-size: cover;
}

.name {
    font-size: 24px;
    margin: 10px 0;
}

.button {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 5% 0;
    background-color: #76A5DC;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.back-button {
    font-size: 20px;
    margin-bottom: 20px;
}

.content {
    width: 80%;
    background-color: #76A5DC;
    color: black;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}


.title {
    font-size: 150%;
}