/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15 de out. de 2023, 14:56:04
    Author     : felli
*/

body{
    background-color: #76A5DC;
    height: 10vh;
    width: 190vh;
}
div > h1{
    position: relative;
    display: block;
    left: 10%;
}
div{
    position: relative;
}
#medicamentoEstoque{
    right: -50px;
    width: 200px;
    height: 90px;
    background: #2882EB;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#medicamentoEstoque > p{
   margin: 20px;
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}
label{
    position: relative;
}
#atualizar{
    position: relative;
    bottom: 60px;
    left: 120px;
}

#medicamentoEstoque > .nome{
    display: flex;
    margin-bottom: 15px;
    margin-top: 2px;
    top: 5px;
    height: 15px;
    width: 100px;
    margin-left: 10px;
    position: relative;
    font-size: medium;
}
#medicamentoEstoque > .quant{
    display: flex;
    margin-bottom: 15px;
    margin-top: 2px;
    bottom: 2px;
    height: 15px;
    width: 100px;
    margin-left: 10px;
    position: relative;
    font-size: medium;
}
#medicamentoEstoque > .fornecedor{
    display: flex;
    height: 20px;
    width: 50px;
    position: relative;
    right: 60%;
    top: 35px;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
#medicamentoEstoque > .dataCompra{
    display: flex;
    position: relative;
    top: 20%;
    font-size: small;
    right: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;

}
#medicamentoEstoque > #excluir{
    font-size: 20px;
}

#titulo{
    color: white;
    font-size: 32px;
    font-family: Inter;
    font-weight: 800;
    word-wrap: break-word
}

#solicitados, #estoque{
  width: 500px;
  height: 90vh;
  border-radius: 15px;
  background: rgba(164, 203, 249, 0.50);
  display: inline-block;
  box-sizing: border-box;
  left: 100px;
  margin-left: 40px;
  margin-right: 0px;
  top: 40px;
}

h1{
    color: white;
    font-size: 32px;
    font-family: Inter;
    font-weight: 600;
}

#solicitados > div {
    width: 80%;
    height: 70vh;
    background: #76A5DC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;

}
#estoque > div{
    width: 80%;
    height: 70vh;
    background: #76A5DC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
}
#medicamento{
    right: 20px;
    width: 160px;
    height: 70px;
    background: #2882EB;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
#medicamento *{
    font-size: 10px;
}
div > p{
    border-radius: 20px;
    background: #DEEDFF;
    padding-top: 3px;
}
#medicamento > .nome{
     display: flex;
    margin-bottom: 15px;
    margin-top: 2px;
    top: 5px;
    height: 15px;
    width: 100px;
    margin-left: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: medium;
}
#medicamento > .quant{
    display: inline-flex;
    height: 30px;
    width: 60px;
    margin-left: 10px;
    position: relative;
    bottom: 15px;
    align-items: center;
  
}
.formExcluirUnico{
    position: relative;
    display: inline;
    left: -180px;
    bottom: -10px;
}
#medicamentoEstoque > #excluir{
    position: relative;
    left: 5px;
    
}
#medicamento > #excluir{
    font-size: 20px;
}

#medicamento > .fornecedor{
    display: flex;
    height: 30px;
    width: 50px;
    position: relative;
    bottom: 15px;
    align-items: center;
    justify-content: center;
}
#medicamento > .bot{
    background-color: #FF0000;
    border-radius: 100%;
    left: 7px;
    position: relative;
    height: 20px;
    width: 20px;
    top: -13%;
    padding-left: 4px;
}
article{
    display: inline-flex;
    padding-top: 5%;
    padding-left: 15%;

}
#solicitar{
    border-radius: 20px;
    background: #DEEDFF;
    border: none;
    align-items: center;
    height: 5%;
    display: flex;
    margin-left: 35%;
    top: 10px;
    justify-content: center;
    width: 20%;
    color: black;
    text-decoration: initial;
}

#main{
  display: flex;
}



/*css julia*/

.branco {
    width: 20%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 0px;
    height: 95vh;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px auto;
    background-image: url('caminho_para_sua_imagem.jpg');
    background-size: cover;
}

.name {
    font-size: 24px;
    margin: 10px 0;
}

.button {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 5% 0;
    background-color: #76A5DC;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.back-button {
    font-size: 20px;
    margin-bottom: 20px;
}

.content {
    width: 80%;
    background-color: #76A5DC;
    color: black;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}


.title {
    font-size: 150%;
}

.alerta{
    padding: 3px;
}