/* 
    Created on : 12 de out. de 2023, 01:11:33
    Author     : Aluno
*/             
        .back-button {
                    display: flex;
                    justify-content: left;
                    align-items: center; 
                    font-size: 20px;
                    margin-bottom: 20px;
        }

        .content {
            width: 80%;
            background-color: #76A5DC;
            color: black;
            text-align: center;
            padding: 20px;
            box-sizing: border-box;
        }

        
        .title {
            font-size: 150%;
        }