.back-button {
    display: flex;
    justify-content: left;
    align-items: center; 
    font-size: 20px;
    margin-bottom: 20px;
}

.content {
    width: 80%;
    background-color: #76A5DC;
    color: black;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}


.title {
    margin-top: 5vh;
    font-size: 150%;
}
#tabela {
        align-items: center;
	margin-top: 30px;
	border-collapse: collapse;
}

#tabela th {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: #76A5DC;
	color: #fff;
}

#tabela td {
	border: 1px solid #ddd;
	padding: 10px;
}